.row
  .col.s12.m6
    .card.grey.lighten-3
      .card-content.black-text
        %span.card-title Card Title
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        = link_to "#" do
          .waves-effect.waves-light.btn.blue.accent-1 SHOW
        = link_to "#" do
          .waves-effect.waves-light.btn.blue.accent-1 EDIT
        = link_to "#" do
          .waves-effect.waves-light.btn.blue.accent-1 DESTROY
