%nav.blue.accent-1
  .nav-wrapper
    %a.brand-logo{:href => "#"} Blog
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        = link_to new_user_session_path do
          SignIn
      %li
        %a{:href => "badges.html"} SignOut
      %li
        %a{:href => "collapsible.html"} New